.content {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(153, 149, 149, 0.1);
}

h1 {
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
    font-weight: 525;
    margin-bottom: 10px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 10px;
}

h5 {
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
    font-weight: 525;
}

h3 {
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
    font-weight: 525;
    margin-bottom: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.display-1{
    height: 400px;
    width: 400px;
    border-radius: 15px;
}

.return{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(153, 149, 149, 0.1);
}

.cardbody{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

/* Input Field css start */
.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ 
    position: relative;
    width: 70%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.files:after {  
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ 
    background-color:#f1f1f1;
}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

/* Input Field css end */