.content {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(153, 149, 149, 0.1);
}

h1 {
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
    font-weight: 525;
    margin-bottom: 20px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 20px;
}

h5 {
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
    font-weight: 525;
}

h3 {
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
    font-weight: 525;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.display-1{
    height: 400px;
    width: 400px;
    border-radius: 15px;
}

.return{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(153, 149, 149, 0.1);
}

.cardbody{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}