<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plant Disease Classification Using Deep Learning</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/leaf-icon.png') }}">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='assets/leaf-icon.png') }}" alt="Logo" width="30" height="24"
                    class="d-inline-block align-text-top">
                Leaf Disease Classification
            </a>
        </div>
    </nav>
    <div class="content">
        {% if img %}
        <div class="alert alert-success" role="alert">
            File Uploaded Successfully!
        </div>
        <h5>Confidence Table:</h5>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Class:</th>
                    <th scope="col">Early Blight</th>
                    <th scope="col">Late Blight</th>
                    <th scope="col">Healthy</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Score:</th>
                    <td>{{score1}}</td>
                    <td>{{score2}}</td>
                    <td>{{score3}}</td>
                </tr>
            </tbody>
        </table>

        <div class="card cardbody" style=" width: 40rem; ;">
            <img src="{{img}}" class="card-img-top" alt="Uploaded Image">
            <div class="card-body">
                <h5 class="card-title">{{Class}}</h5>
                {% if Class == "Early Blight": %}
                <p>Early blight is primarily a disease of stressed or senescing plants. Symptoms appear first on the
                    oldest foliage. Affected leaves develop circular to angular dark brown lesions 0.12 to 0.16 inch
                    (3-4 mm) in diameter. Concentric rings often form in lesions to produce characteristic target-board
                    effect.</p>
                <a href="https://www.planetnatural.com/pest-problem-solver/plant-disease/early-blight/"
                    class="btn btn-outline-info">Click here to find remedies</a>
                {% elif Class == "Late Blight": %}
                <p>Late blight is a disease which is common in solanaceous plants like potatoes, tomatoes, etc. It is
                    caused by an oomycete pathogen, i.e., <i>Phytophthora infestans</i>. Late blight in a potato is a
                    lethal
                    disease which can have the potential to devastate the crop. It can attack the crop at any stage and
                    can infect the foliage and tubers.</p>
                <a href="https://www.planetnatural.com/pest-problem-solver/plant-disease/late-blight/"
                    class="btn btn-outline-info">Click here to find remedies</a>
                {% else %}
                <p>The given image of the potato leaf is detected to be healthy thus it does not require any remedies.
                </p>
                {% endif %}
            </div>
        </div>

    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        Error: File Not Uploaded. Please try again.
    </div>
    {% endif %}

    <!-- Go back to Home Page -->
    <div class="return d-flex justify-content-center">
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="submit" class="btn btn-primary" value="Upload Another Image">
        </form>
    </div>
    </div>


    <footer class="text-center bg-body-tertiary">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            Made with 💖by Aneesh Raskar © 2024 Copyright
        </div>
    </footer>

</body>


</html>