<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plant Disease Classification Using Deep Learning</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/leaf-icon.png') }}">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='assets/leaf-icon.png') }}" alt="Logo" width="30" height="24"
                    class="d-inline-block align-text-top">
                Leaf Disease Classification
            </a>
        </div>
    </nav>
    <div class="content">
        {% if img %}
        <div class="alert alert-success" role="alert">
            File Uploaded Successfully!
        </div>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Class:</th>
                    <th scope="col">Early Blight</th>
                    <th scope="col">Late Blight</th>
                    <th scope="col">Healthy</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Score:</th>
                    <td>{{score1}}</td>
                    <td>{{score2}}</td>
                    <td>{{score3}}</td>
                </tr>
            </tbody>
        </table>
        <p>Predicted Disease: {{Class}}</p>
        <h3>Given Image:</h3>
        <img src="{{img}}">
        {% else %}
        <h1>Image not rendered</h1>
        {% endif %}
    </div>

    <footer class="text-center bg-body-tertiary">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            Made with 💖by Aneesh Raskar © 2024 Copyright
        </div>
    </footer>

</body>


</html>