<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plant Disease Classification Using Deep Learning</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
    <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/leaf-icon.png') }}">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='assets/leaf-icon.png') }}" alt="Logo" width="30" height="24"
                    class="d-inline-block align-text-top">
                Leaf Disease Classification
            </a>
        </div>
    </nav>

    <div class="content">
        <h1>Plant Disease Classification Using Deep Learning</h1>
        <p>This project was made by Parth Dedhia, undergrad student at VIT-C 2025 batch, as a project
            for Machine Vision.</p>
        <h3>Introduction</h3>
        <p>
            This project uses a Convolutional Neural Network to classify the disease in a leaf image. The model was
            trained on the PlantVillage dataset, which contains images of diseased and healthy leaves of various plants.
            The model was trained on a GPU for 15 epochs and achieved an accuracy of 97.5% on the test set.
        </p>
        <h3>Upload Image</h3>
        
        {% if error %}
        <div class="alert alert-warning" role="alert">
            {{error}}
        </div>
        {% endif %}

        <form action="/predict" method="post" enctype="multipart/form-data">
            <div class="form-group files color">
                <input type="file" class="form-control" id="fileinp" name="img" />
            </div>
            <br>
            <input type="submit" class="btn btn-primary files" value="Predict The Disease of the Leaf">
        </form>
    </div>

    <footer class="text-center bg-body-tertiary">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            Made with 💖by Aneesh Raskar © 2024 Copyright
        </div>
    </footer>
</body>

</html>